$dark1: #404258;
$dark2: #474E68;
$dark3: #50577A;
$dark4: #6B728E;
$dark5: #EAEBED;

$Acid-Lime: #C6FF00;
$Blue: #2979FF;
$Breaking-Bad: #388E3C;
$Bright-Teal: #64FFDA;
$Bright-Cyan: #00BCD4;
$Graphite: #616161;
$Indigo: #5C6BC0;
$Lime: #7CB342;
$Orange: #FF7042;
$Pink: #FF4081;
$Purple: #AB47BC;
$Red: #E57373;
$Sky: #84FFFF;
$Tomato: #F44336;
$Teal: #80CBC4;
$Yellow: #FFA000;

$nigga: #000000;
$black: #292D3E;
$dark: #333747;
$darklight: #3A3F58;
$lightdark: #4E5579;
$light: #676E95;
$grey: #717CB450;
$miku: #80CBC4;
$glister: #82AAFF;
$cyan: #89DDFF;
$maroon: #904348;
$moon: #A6ACCD;
$zundamon: #C3E88D;
$utaha: #C792EA;
$lightyellow: #FFCB6B;
$yellow: #FFCC00;
$white: #FFFFFF;
